
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #2c3e4f;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.menu a {
  margin-right: 15px;
  border: 1px;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
}

.principal {
  padding: 1.5em;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  left: 50px;
}
.menu {
  padding: 1em;
  width: 50%;
  position: relative;
  left: 160px;
  display: inline-block;
  box-sizing: border-box;
}

.menu a:hover{
  color: #18bc9c;
}

header{
  background-color: #55bd9d;
  padding-top: 6em;
  padding-bottom: 6em;
}

#logo{
  text-align: center;
}

.logo-letters{
  font-size: 4.75em;
  line-height: 4rem;
  color: white;
  text-align: center;
}


hr.star-dark,hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

hr.star-dark:after,hr.star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding:  .25em;
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-size: 2em;
    font-weight: 900;
}

hr.star-light {
    border-color: #fff;
    overflow: visible;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-dark {
    border-color: #2c3e50;
    overflow: visible;
}

hr.star-dark:after {
    color: #2c3e50;
    background-color: #fff;
}

.page-subtitles{
  color: #fff;
  font-size: 25px;
  position: relative;
  margin-top: -50px;
  font-family: 'Lato', sans-serif;
}

.porfolio{
  text-align: center;
  padding-top: 1em;
  font-size:  3em;
}

.portfolio-images img{
  display: inline-block;
  margin: 10px;
  width: 22%;
  margin-left: 40px;
  padding-left: 55px;
}

.portfolio-images img:hover{
  opacity: 0.5;
}

.about{
  background-color: #55bd9d;
  padding-bottom: 2em;
}

#about-letters{
  text-align: center;
  padding-top: 2em;
  font-size:  3em;
  color: white;
  }

.about-text{
  padding-top: 0em;
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.text-one{
  padding: 0 1.5em;
  width: 39%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  text-align: left;
}

.text-two{
  padding: 0 2.5em;
  width: 39%;
  position: relative;
  left: 150px;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
}

.download-button{
  text-align: center;
  border: 1px solid white;
  margin: 2em;
  padding: 1em;
  width: 15%;
  position: relative;
  left: 39%;
  color: white;
}

.download-button:hover{
  background-color: white;
  color: black;
}


.contact{
  position: relative;
  margin-left: 100px;
}
.contact > div{
  padding: 1em 1.5em 1.5em 0em;
  margin-left: 3em;
  border: 1px;
  width: 70%;
  color: #6b747c;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  border-bottom: 1px solid lightgray;
}

.contact > div:last-child{
  padding-bottom: 6em;
}

.send-button{
  text-align: center;
  border: 1px;
  margin: 1em 3em 3em 3em;
  padding: 1em;
  width: 7%;
  position: relative;
  left: 100px;
  color: white;
  background-color: #55bd9d;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.send-button:hover{
  background-color: #478d77;
  border-radius: 10px;
  border: 2px solid #478d77;

}

.information{
  background-color: #2c3e4f;
  color: white;
}

 .about-freelancer > h4 a {
  color: #55bd9d;
}

.location {
  padding: 0em 1.5em 1.5em 1.5em ;
  width: 20%;
  display: inline-block;
  position: relative;
  left: 50px;
  bottom: 45px;
  text-align: center;
}

.around {
  padding: 0em 1.5em 1.5em 1.5em ;
  width: 30%;
  display: inline-block;
  position: relative;
  left: 50px;
  text-align: center;
}

.about-freelancer{
  padding: 0em 1.5em 1.5em 1.5em ;
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  left: 50px;
  bottom: 25px;
  text-align: center;
}

.icons{
  border-radius: 50%;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;

}

.icons > i{
  position: absolute;
  top: 34%;
  right: 39%;
}

.icons:hover{
  background-color: white;
  color:#23303d;
}

footer{
    background-color: #1a252f;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;

}

.about-freelancer > h4 a{
  color: #55bd9d;
  font-size: 20px;
}

.about-freelancer > h4 a:hover{
    color: #478d77;
    text-decoration: underline;

}
